.hire{
    background-color:#7E0573 ;
}

.text-animation{
    position: relative;
    width: 32.8rem;
}
.text-animation h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #ff00ee;
    background: linear-gradient(#ff00ee,#ff00ee);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    transform: translateY(-100px);
    opacity: 0;
    animation: textSlide 6s linear infinite,
    TopSlide 1s ease forwards;
    animation-delay: 2s,1.2s;
}
@keyframes textSlide{
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}
.text-animation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-right: 2px solid #ff00ee;
    transform: translateY(-100px);
    opacity: 0;
    animation: CursorSlide 6s linear infinite,
    TopSlide 1s ease forwards;
    animation-delay: 2s,1.2s;
}
